releases/vmr_xml_IG_Release_1_v2_reconciled/vMR XML IG R1 materials for publication/Materials for Publication/supplementary_files/Schemas/vmr/cdsOutput.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Kensaku Kawamoto (Duke University) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3:cdsoutput:r2" xmlns:dt="urn:hl7-org:v3:cdsdt:r2" xmlns:vmr="urn:hl7-org:v3:vmr:r2" targetNamespace="urn:hl7-org:v3:cdsoutput:r2" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Specifies output data generated by CDS systems.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:hl7-org:v3:vmr:r2" schemaLocation="../vmr/vmr.xsd"/>
	<xs:import namespace="urn:hl7-org:v3:cdsdt:r2" schemaLocation="../common/datatypes.xsd"/>
	<xs:complexType name="CDSOutput">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vmrOutput" type="vmr:VMR" minOccurs="0" maxOccurs="1"/>
			<xs:element name="simpleOutput" type="dt:ANY" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CDSOutput" type="CDSOutput"/>
</xs:schema>
