SchemasR3/cdsoutput/cdsOutput.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="urn:hl7-org:v3:cdsoutput:r3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3:cdsoutput:r3" xmlns:cdsout="urn:hl7-org:v3:cdsoutput:r3" xmlns:vmr="urn:hl7-org:v3:vmr:r3" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Specifies output data generated by CDS systems.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:hl7-org:v3:vmr:r3" schemaLocation="../vmr/vmr.xsd"/>
	<xs:complexType name="CDSOutput" abstract="true">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="templateId" type="vmr:CodedIdentifier" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The identifier of a set of constraints placed on a CDS output.  If there are multiple templates specified for the element, then the element must satisfy ALL constraints defined in ANY template at that level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDSOutputAsDataType">
		<xs:annotation>
			<xs:documentation>A single data element of ANY data type as output of CDS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CDSOutput">
				<xs:sequence>
					<xs:element name="value" type="vmr:Value" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value of the CDS output.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CDSOutputAsVMR">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CDSOutput">
				<xs:sequence>
					<xs:element name="vmrOutput" type="vmr:VMR" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Output from CDS structured as a VMR record</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
