SchemasR3/cdsoutput/cdsOutput.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by David Shields (Duke University Medical Center) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3:cdsoutput:r3" xmlns:cdsout="urn:hl7-org:v3:cdsoutput:r3" xmlns:dt="urn:hl7-org:v3:cdsdt:r3" xmlns:vmr="urn:hl7-org:v3:vmr:r3" targetNamespace="urn:hl7-org:v3:cdsoutput:r3" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Specifies output data generated by CDS systems.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:hl7-org:v3:vmr:r3" schemaLocation="../vmr/vmr.xsd"/>
	<xs:import namespace="urn:hl7-org:v3:cdsdt:r3" schemaLocation="../common/datatypes.xsd"/>
	<xs:element name="CDSOutput" type="CDSOutput"/>
	<xs:complexType name="CDSOutput" abstract="true">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="CDSOutputAsDataType">
		<xs:annotation>
			<xs:documentation>A single data element of ANY data type as output of CDS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CDSOutput">
				<xs:sequence>
					<xs:element name="outputElement" type="dt:ANY">
						<xs:annotation>
							<xs:documentation>A single data element of type ANY intended for output from CDS.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CDSOutputAsVMR">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CDSOutput">
				<xs:sequence>
					<xs:element name="vmrOutput" type="vmr:VMR">
						<xs:annotation>
							<xs:documentation>Output from CDS structured as a VMR record</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
