releases/vmr_xml_IG_May_2013_ballot_submission/HL7vMR_vMR_XML_Implementation_Guide_2013_May_Ballot_supplementary_files/Schemas/cdsOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3/vmr" xmlns:dt="urn:hl7-org:v3/cdsdt" targetNamespace="urn:hl7-org:v3/vmr"  elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Specifies output data generated by CDS systems.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:hl7-org:v3/cdsdt" schemaLocation="datatypes.xsd"/>
	<xs:include schemaLocation="vmr.xsd"/>
	<xs:complexType name="CDSOutput">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vmrOutput" type="VMR" minOccurs="0"/>
			<xs:element name="simpleOutput" type="dt:ANY" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cdsOutput" type="CDSOutput"/>
</xs:schema>
